<root>
<localization>
<language>en</language>
<region>us</region>
<twirler>
	<caption>Dfine 2.0</caption>
	<folder>Dfine 2.0</folder>
	<layerPrefix>Dfine 2.0</layerPrefix>
	<sectionPosition>d</sectionPosition>
	<tab>
		<tabcaption></tabcaption>
        <filter>
            <name>Dfine 2.0</name>
            <id>nikSoftware Dfine 2.0</id>
            <macfilename>Dfine2.plugin</macfilename>
            <winfilename>Dfine_2_0.8bf</winfilename>
        </filter>
        <filter>
            <name>Background</name>
            <id>nikSoftware Dfine 2.0 Background</id>
            <psid>1685467187</psid> <!-- 'dv03' -->
            <macfilename>BackgroundFilter.plugin</macfilename>
            <winfilename>Background.8bf</winfilename>
        </filter>
        <filter>
            <name>Hot Pixels</name>
            <id>nikSoftware Dfine 2.0 Hot Pixels</id>
            <psid>1685467440</psid> <!-- 'dv10' -->
            <macfilename>HotPixelsFilter.plugin</macfilename>
            <winfilename>HotPixels.8bf</winfilename>
        </filter>
        <filter>
            <name>Fine Structures</name>
            <id>nikSoftware Dfine 2.0 Hair &amp; Fine Structures</id>
            <psid>1685467193</psid> <!-- 'dv09' -->
            <macfilename>FineStructuresFilter.plugin</macfilename>
            <winfilename>FineStructures.8bf</winfilename>
        </filter>
        <filter>
            <name>Skin</name>
            <id>nikSoftware Dfine 2.0 Skin</id>
            <psid>1685467186</psid> <!-- 'dv02' -->
            <macfilename>SkinFilter.plugin</macfilename>
            <winfilename>Skin.8bf</winfilename>
        </filter>
        <filter>
            <name>Sky</name>
            <id>nikSoftware Dfine 2.0 Sky</id>
            <psid>1685467188</psid> <!-- 'dv04' -->
            <macfilename>SkyFilter.plugin</macfilename>            <winfilename>Sky.8bf</winfilename>
        </filter>
        <filter>
            <name>Shadows</name>
            <id>nikSoftware Dfine 2.0 Shadows</id>
            <psid>1685467190</psid> <!-- 'dv06' -->
            <macfilename>ShadowsFilter.plugin</macfilename>            <winfilename>Shadows.8bf</winfilename>
        </filter>
        <filter>
            <name>Strong Noise</name>
            <id>nikSoftware Dfine 2.0 Strong Noise</id>
            <psid>1685467192</psid> <!-- 'dv08' -->
            <macfilename>StrongNoiseFilter.plugin</macfilename>            <winfilename>StrongNoise.8bf</winfilename>
        </filter>
    </tab>
</twirler>
</localization>
<localization>
<language>ja</language>
<region>jp</region>
<twirler>
	<caption>Dfine 2.0</caption>
	<folder>Dfine 2.0</folder>
	<layerPrefix>Dfine 2.0</layerPrefix>
	<sectionPosition>d</sectionPosition>
	<tab>
		<tabcaption></tabcaption>
        <filter>
            <name>Dfine 2.0</name>
            <id>nikSoftware Dfine 2.0</id>
            <macfilename>Dfine2.plugin</macfilename>
            <winfilename>Dfine_2_0.8bf</winfilename>
        </filter>
        <filter>
            <name>Background</name>
            <id>nikSoftware Dfine 2.0 Background</id>
            <psid>1685467187</psid> <!-- 'dv03' -->
            <macfilename>BackgroundFilter.plugin</macfilename>            <winfilename>Background.8bf</winfilename>
        </filter>
        <filter>
            <name>Hot Pixels</name>
            <id>nikSoftware Dfine 2.0 Hot Pixels</id>
            <psid>1685467440</psid> <!-- 'dv10' -->
            <macfilename>HotPixelsFilter.plugin</macfilename>            <winfilename>HotPixels.8bf</winfilename>
        </filter>
        <filter>
            <name>Fine Structures</name>
            <id>nikSoftware Dfine 2.0 Hair &amp; Fine Structures</id>
            <psid>1685467193</psid> <!-- 'dv09' -->
            <macfilename>FineStructuresFilter.plugin</macfilename>            <winfilename>FineStructures.8bf</winfilename>
        </filter>
        <filter>
            <name>Skin</name>
            <id>nikSoftware Dfine 2.0 Skin</id>
            <psid>1685467186</psid> <!-- 'dv02' -->
            <macfilename>SkinFilter.plugin</macfilename>            <winfilename>Skin.8bf</winfilename>
        </filter>
        <filter>
            <name>Sky</name>
            <id>nikSoftware Dfine 2.0 Sky</id>
            <psid>1685467188</psid> <!-- 'dv04' -->
            <macfilename>SkyFilter.plugin</macfilename>            <winfilename>Sky.8bf</winfilename>
        </filter>
        <filter>
            <name>Shadows</name>
            <id>nikSoftware Dfine 2.0 Shadows</id>
            <psid>1685467190</psid> <!-- 'dv06' -->
            <macfilename>ShadowsFilter.plugin</macfilename>            <winfilename>Shadows.8bf</winfilename>
        </filter>
        <filter>
            <name>Strong Noise</name>
            <id>nikSoftware Dfine 2.0 Strong Noise</id>
            <psid>1685467192</psid> <!-- 'dv08' -->
            <macfilename>StrongNoiseFilter.plugin</macfilename>            <winfilename>StrongNoise.8bf</winfilename>
        </filter>
    </tab>
</twirler>
</localization>
<arch>
  <w32>yes</w32>
  <w64>yes</w64>
  <m32>yes</m32>
  <m64>yes</m64>
  <ppc>yes</ppc>
</arch>
</root>
