<?xml version="1.0" encoding="utf-8"?>
<root>
  <localization>
    <language>en</language>
    <region>us</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Merge (Multiple Image Series)</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Tone Mapping (Single Image)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Tone Mapping (Single Image)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>de</language>
    <region>de</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Zusammenführen (Bildreihe)</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Tone Mapping (Einzelbild)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Tone Mapping (Einzelbild)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>fr</language>
    <region>fr</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Fusionner (série de plusieurs images)</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Correspondance des tons (une image)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Correspondance des tons (une image)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>es</language>
    <region>es</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Fusión (serie de varias imágenes)</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Mapa de tonos (imagen única)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Mapa de tonos (imagen única)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>it</language>
    <region>it</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Unisci (serie di più immagini)</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Mappa tonalità (immagine singola)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Mappa tonalità (immagine singola)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>ja</language>
    <region>jp</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>ファイルを選択（複数画像）</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
        </filter>
        <filter>
          <name>開いているファイルを展開（単一画像）</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>開いているファイルを展開（単一画像）</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>zh_TW</language>
    <region>tw</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>合併（一系列圖像）</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
        </filter>
        <filter>
          <name>色調映射（單一圖像）</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>色調映射（單一圖像）</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>zh_CN</language>
    <region>cn</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>合并（一系列图像）</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
        </filter>
        <filter>
          <name>色调映射（单一图像）</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>色调映射（单一图像）</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>pt_BR</language>
    <region>cn</region>
    <twirler>
      <caption>HDR Efex Pro 2</caption>
      <folder>HDR Efex Pro 2</folder>
      <layerPrefix>HDR Efex Pro 2</layerPrefix>
      <sectionPosition>j</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Fundir (Série de Multiplas Imagens)</name>
          <id>com.niksoftware.hdr2.ps.action</id>
          <automation>1</automation>
        </filter>
        <filter>
          <name>Mapeamento Tonal (Uma Única Imagem)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>0</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>yes</ps>
            <pse>no</pse>
          </worksinhost>
        </filter>
        <filter>
          <name>Mapeamento Tonal (Uma Única Imagem)</name>
          <id>com.niksoftware.hdr2.ps.tonemapping</id>
          <handle>1</handle>
          <layer>CurrentLayer</layer>
          <action>32to16</action>
          <worksinhost>
            <ps>no</ps>
            <pse>yes</pse>
          </worksinhost>
        </filter>
      </tab>
    </twirler>
  </localization>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>yes</ppc>
  </arch>
</root>
