<?xml version="1.0" encoding="utf-8"?>
<root>
  <localization>
    <language>en</language>
    <region>us</region>
    <twirler>
      <caption>Sharpener Pro 3</caption>
      <folder>SHP3</folder>
      <layerPrefix>Sharpener Pro 3</layerPrefix>
      <sectionPosition>y</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>RAW Presharpener</name>
          <id>nikSoftware SHP3RPS</id>
        </filter>
        <filter>
          <name>Output Sharpener</name>
          <id>nikSoftware SHP3OS</id>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>ja</language>
    <region>jp</region>
    <twirler>
      <caption>Sharpener Pro 3</caption>
      <folder>Sharpener Pro 3</folder>
      <layerPrefix>SHP3</layerPrefix>
      <sectionPosition>y</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>RAW Presharpener</name>
          <!-- <name>RAW プレシャープネス</name> -->
          <id>nikSoftware SHP3RPS</id>
        </filter>
        <filter>
          <name>Output Sharpener</name>
          <!-- <name>出力用シャープネス</name> -->
          <id>nikSoftware SHP3OS</id>
        </filter>
      </tab>
    </twirler>
  </localization>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>yes</ppc>
  </arch>
</root>
