<?xml version="1.0" encoding="utf-8"?>
<root>
  <localization>
    <language>en</language>
    <region>us</region>
    <twirler>
      <caption>Color Efex Pro 4</caption>
      <folder>Color Efex Pro 4</folder>
      <layerPrefix>Color Efex Pro 4</layerPrefix>
      <sectionPosition>t</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <columns>1</columns>
        <filter>
          <name>Color Efex Pro 4</name>
          <id>com.niksoftware.cep4.ps.filter</id>
        </filter>
      </tab>
      <tab>
        <tabcaption>@SelTool.filterstab</tabcaption>
        <filepath>/Favorites/Favorites_Filters.xml</filepath>
        <descName>favF</descName>
      </tab>
      <tab>
        <tabcaption>@SelTool.stylestab</tabcaption>
        <filepath>/Favorites/Favorites_Styles.xml</filepath>
        <descName>favR</descName>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>ja</language>
    <region>jp</region>
    <twirler>
      <caption>Color Efex Pro 4</caption>
      <folder>Color Efex Pro 4</folder>
      <layerPrefix>Color Efex Pro 4</layerPrefix>
      <sectionPosition>t</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <columns>1</columns>
        <filter>
          <name>Color Efex Pro 4</name>
          <id>com.niksoftware.cep4.ps.filter</id>
        </filter>
      </tab>
      <tab>
        <tabcaption>@SelTool.filterstab</tabcaption>
        <filepath>/Favorites/Favorites_Filters.xml</filepath>
        <descName>favF</descName>
      </tab>
      <tab>
        <tabcaption>@SelTool.stylestab</tabcaption>
        <filepath>/Favorites/Favorites_Styles.xml</filepath>
        <descName>favR</descName>
      </tab>
    </twirler>
  </localization>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>yes</ppc>
  </arch>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>yes</ppc>
  </arch>
</root>
