<?xml version="1.0" encoding="utf-8"?>
<root>
  <localization>
    <language>en</language>
    <region>us</region>
    <twirler>
      <caption>Viveza 2</caption>
      <folder>Viveza 2</folder>
      <layerPrefix>Viveza 2</layerPrefix>
      <sectionPosition>g</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Viveza 2</name>
          <id>nikSoftware VIV2</id>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>ja</language>
    <region>jp</region>
    <twirler>
      <caption>Viveza 2</caption>
      <folder>Viveza 2</folder>
      <layerPrefix>Viveza 2</layerPrefix>
      <sectionPosition>g</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Viveza 2</name>
          <id>nikSoftware VIV2</id>
        </filter>
      </tab>
    </twirler>
  </localization>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>no</ppc>
  </arch>
</root>
