<?xml version="1.0" encoding="utf-8"?>
<root>
  <localization>
    <language>en</language>
    <region>us</region>
    <twirler>
      <caption>Silver Efex Pro</caption>
      <folder>Silver Efex Pro</folder>
      <layerPrefix>Silver Efex Pro</layerPrefix>
      <sectionPosition>u</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Silver Efex Pro</name>
          <id>nikSoftware Silver Efex Pro</id>
          <param name="SelectedFilter">
            <string>SEP::SEP</string>
          </param>
        </filter>
      </tab>
    </twirler>
  </localization>
  <localization>
    <language>ja</language>
    <region>jp</region>
    <twirler>
      <caption>Silver Efex Pro</caption>
      <folder>Silver Efex Pro</folder>
      <layerPrefix>Silver Efex Pro</layerPrefix>
      <sectionPosition>u</sectionPosition>
      <tab>
        <tabcaption></tabcaption>
        <filter>
          <name>Silver Efex Pro</name>
          <id>nikSoftware Silver Efex Pro</id>
          <param name="SelectedFilter">
            <string>SEP::SEP</string>
          </param>
        </filter>
      </tab>
    </twirler>
  </localization>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>yes</ppc>
  </arch>
  <arch>
    <w32>yes</w32>
    <w64>yes</w64>
    <m32>yes</m32>
    <m64>yes</m64>
    <ppc>yes</ppc>
  </arch>
</root>
